{{- /* @formatter:off */}}
  {{- $fullName := include "mychart.fullname" . -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mychart.fullname" . }}
  labels:
    {{- include "mychart.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "mychart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
        {{- if .Values.tempo.enabled }}
        instrumentation.opentelemetry.io/inject-sdk: "open-telemetry/default-sdk-{{ .Values.tempo.tenant }}"
          {{- end }}
      {{- end }}
      labels:
        {{- include "mychart.selectorLabels" . | nindent 8 }}
        {{- if .Values.loki.enabled }}
        loki: connect-{{ .Values.loki.tenant }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "mychart.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: http
            failureThreshold: 1
            periodSeconds: 10
          startupProbe:
            httpGet:
              path: /actuator/health/liveness
              port: http
            failureThreshold: 999
            periodSeconds: 10

          # use kustomize to specify env-vars per environment (tst, acc, prd); see kustomization.yml
          # dummy foo-bar added to make op 'add' in patch work correctly
          env:
            - name: DATASOURCE_JDBC-URL
              value: {{ .Values.env.datasource.jdbcurl }}
            - name: DATASOURCE_DATABASE-NAME
              value: {{ .Values.env.datasource.databasename }}
            - name: SPRING_PROFILES_ACTIVE
              value: {{ .Values.env.spring.profiles.active }}
            - name: SPRING_INIT-DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ $fullName }}-init-datasource-cred
                  key: username
            - name: SPRING_INIT-DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ $fullName }}-init-datasource-cred
                  key: password
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ $fullName }}-datasource-cred
                  key: username
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ $fullName }}-datasource-cred
                  key: password
            - name: SPRING_LIQUIBASE_USER
              valueFrom:
                secretKeyRef:
                  name: {{ $fullName }}-liquibase-datasource-cred
                  key: username
            - name: SPRING_LIQUIBASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ $fullName }}-liquibase-datasource-cred
                  key: password
            - name: SPRING_DATA_REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ $fullName }}-redis-cred
                  key: password
            - name: FF4J_API_USER
              valueFrom:
                secretKeyRef:
                  name: {{ $fullName }}-ff4j-cred
                  key: username
            - name: FF4J_API_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ $fullName }}-ff4j-cred
                  key: password
            - name: WEBCOMPONENT_HOST
              value: {{ .Values.env.webcomponent.host }}
            - name: PULSAR_BROKER_URL
              value: {{ .Values.env.pulsar.broker.url }}
            - name: FF4J_API_URL
              value: {{ .Values.env.ff4j.api.url }}
            - name: SPRING_DATA_REDIS_HOST
              value: {{ .Values.env.spring.data.redis.host }}
            {{- if .Values.extraEnvs }}
              {{- toYaml .Values.extraEnvs | nindent 12 }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
