apiVersion: v2
appVersion: '1.0'
description: Helm chart for connect evolution application
name: connect-evolution
type: application
version: 1.1693.1
dependencies:
  - name: ce-calendar-timespend-backend
    version: 1.389.1
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-calendar-timespend-backend.enabled
  - name: ce-calendar-timespend-frontend
    version: 0.471.1
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-calendar-timespend-frontend.enabled
  - name: axon-server
    version: 1.0.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: axon-server-calendar-timespend.enabled
    alias: axon-server-calendar-timespend
  - name: connect-backend
    version: 0.0.32
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: connect-backend.enabled
  - name: connect-frontend
    version: 0.36.108
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: connect-frontend.enabled
  - name: mssql-latest
    version: 0.3.6
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: mssql-latest.enabled
  - name: elasticsearch
    version: 7.14.0
    repository: https://helm.elastic.co
    condition: elasticsearch.enabled
  - name: pulsar-standalone
    version: 3.0.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: pulsar-standalone.enabled
  - name: flink
    version: 0.2.17
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: flink.enabled
  - name: pulsar-client
    version: 3.56.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: pulsar-client.enabled
  - name: init-job
    version: 1.0.21
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: pulsar-init-job.enabled
    alias: pulsar-init-job
  - name: init-job
    version: 1.0.21
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: scdf-init-job.enabled
    alias: scdf-init-job
  - name: ce-test-support
    version: 1.26.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-test-support.enabled
  - name: init-job
    version: 1.0.21
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: cdc-db-init-job.enabled
    alias: cdc-db-init-job
  - name: ce-ff4j-server
    version: 1.40.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-ff4j-server.enabled
  - name: ce-payroll-vacationcertificate
    version: 0.117.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-payroll-vacationcertificate.enabled
  - name: ce-webcomponents
    version: 0.71.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-webcomponents.enabled
  - name: ce-calendar-repertorium
    version: 1.18.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-calendar-repertorium.enabled
  - name: ce-balances
    version: 0.41.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-balances.enabled
  - name: ce-clink
    version: 0.61.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-clink.enabled
  - name: ce-init-load
    version: 0.53.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-init-load.enabled
  - name: frontend-services-gateway
    version: 1.108.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: frontend-services-gateway.enabled
  - name: ce-calendar-balance-backend
    version: 0.55.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-calendar-balance-backend.enabled
  - name: ce-calendar-balance-frontend
    version: 0.92.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-calendar-balance-frontend.enabled
  - name: ce-connect-schedule-rollout
    version: 0.7.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-connect-schedule-rollout.enabled
  - name: ce-authorization-service
    version: 0.25.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-authorization-service.enabled
  - name: ce-connect
    version: 0.32.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-connect.enabled
  - name: ce-migration
    version: 1.11.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-migration.enabled
  - name: ce-user-preference
    version: 1.7.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-user-preference.enabled
  - name: ce-scdf-client
    version: 0.15.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-scdf-client.enabled
  - name: ce-chro-inbound-integration
    version: 1.2.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-chro-inbound-integration.enabled
