apiVersion: v2
appVersion: '1.0'
description: Helm chart for connect evolution application
name: connect-evolution
type: application
version: 1.2403.12
dependencies:
  - name: ce-calendar-timespend-backend
    version: 1.526.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-calendar-timespend-backend.enabled
  - name: ce-calendar-timespend-frontend
    version: 0.597.2
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-calendar-timespend-frontend.enabled
  - name: connect-backend
    version: 0.0.32
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: connect-backend.enabled
  - name: connect-frontend
    version: 0.36.108
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: connect-frontend.enabled
  - name: pulsar-client
    version: 3.65.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: pulsar-client.enabled
  - name: init-job
    version: 2.9.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: pulsar-init-job.enabled
    alias: pulsar-init-job
  - name: init-job
    version: 2.9.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: scdf-init-job.enabled
    alias: scdf-init-job
  - name: init-job
    version: 2.9.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: db-init-job.enabled
    alias: db-init-job
  - name: ce-test-support
    version: 1.27.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-test-support.enabled
  - name: ce-ff4j-server
    version: 1.50.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-ff4j-server.enabled
  - name: ce-payroll-vacationcertificate
    version: 0.131.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-payroll-vacationcertificate.enabled
  - name: ce-webcomponents
    version: 0.94.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-webcomponents.enabled
  - name: ce-calendar-repertorium
    version: 1.34.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-calendar-repertorium.enabled
  - name: ce-balances
    version: 0.51.2
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-balances.enabled
  - name: ce-clink
    version: 0.102.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-clink.enabled
  - name: ce-init-load
    version: 0.67.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-init-load.enabled
  - name: ce-frontend-services-gateway
    version: 1.176.0
    repository: oci://harbor.tools.acerta.io/acerta-releases
    condition: ce-frontend-services-gateway.enabled
  - name: ce-calendar-balance-backend
    version: 0.70.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-calendar-balance-backend.enabled
  - name: ce-calendar-balance-frontend
    version: 0.106.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-calendar-balance-frontend.enabled
  - name: ce-connect-schedule-rollout
    version: 0.8.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-connect-schedule-rollout.enabled
  - name: ce-authorization-service
    version: 0.48.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-authorization-service.enabled
  - name: ce-connect
    version: 0.188.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-connect.enabled
  - name: ce-preference
    version: 2.6.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-preference.enabled
  - name: ce-scdf-client
    version: 0.52.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-scdf-client.enabled
  - name: ce-chro-inbound-integration
    version: 1.13.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-chro-inbound-integration.enabled
  - name: prometheus-rsocket-proxy
    version: 0.10.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: prometheus-rsocket-proxy.enabled
  - name: ce-calendar-perftest
    version: 0.60.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-calendar-perftest.enabled
  - name: ce-calendar-agreement-grouping-backend
    version: 0.18.0
    repository: https://acerta-connect-evolution.github.io/ce-helm-charts
    condition: ce-calendar-agreement-grouping-backend.enabled
