apiVersion: v2
appVersion: '1.0'
description: Helm chart for connect evolution infrastructure on Okteto
name: ce-okteto-infra
type: application
version: 0.191.0
dependencies:
  - name: ce-mssql-latest
    version: 0.3.14
    repository: oci://harbor.tools.acerta.io/acerta-releases
    condition: ce-mssql-latest.enabled
  - name: elasticsearch
    version: 7.17.3
    repository: https://helm.elastic.co
    condition: elasticsearch.enabled
  - name: redis
    version: 20.3.0
    repository: https://charts.bitnami.com/bitnami
    condition: redis.enabled
  - name: ce-pulsar-standalone
    version: 3.11.1
    repository: oci://harbor.tools.acerta.io/acerta-releases
    condition: ce-pulsar-standalone.enabled
  - name: ce-pulsar-admin-console
    version: 0.10.1
    repository: oci://harbor.tools.acerta.io/acerta-releases
    condition: ce-pulsar-admin-console.enabled
  - name: ce-axon-server
    version: 1.0.4
    repository: oci://harbor.tools.acerta.io/acerta-releases
    condition: ce-axon-server-calendar.enabled
    alias: ce-axon-server-calendar
  - name: ce-pulsar-client
    version: 3.65.1
    repository: oci://harbor.tools.acerta.io/acerta-releases
    condition: ce-pulsar-client.enabled
  - name: ce-init-job
    version: 2.9.1
    repository: oci://harbor.tools.acerta.io/acerta-releases
    condition: ce-pulsar-init-job.enabled
    alias: ce-pulsar-init-job
  - name: ce-init-job
    version: 2.9.1
    repository: oci://harbor.tools.acerta.io/acerta-releases
    condition: ce-ff4j-init-job.enabled
    alias: ce-ff4j-init-job
  - name: ce-init-job
    version: 2.9.1
    repository: oci://harbor.tools.acerta.io/acerta-releases
    condition: ce-db-init-job.enabled
    alias: ce-db-init-job
  - name: ce-init-job
    version: 2.9.1
    repository: oci://harbor.tools.acerta.io/acerta-releases
    condition: scdf-init-job.enabled
    alias: ce-scdf-init-job
  - name: ce-ff4j-server
    version: 1.58.0
    repository: oci://harbor.tools.acerta.io/acerta-releases
    condition: ce-ff4j-server.enabled
  - name: ce-frontend-services-gateway
    version: 1.175.0
    repository: oci://harbor.tools.acerta.io/acerta-releases
    condition: ce-frontend-services-gateway.enabled
  - name: ce-keycloak-boot
    version: 1.9.19
    repository: oci://harbor.tools.acerta.io/acerta-releases
    condition: ce-keycloak-boot.enabled
  - name: ce-webcomponents
    version: 0.94.1
    repository: oci://harbor.tools.acerta.io/acerta-releases
    condition: ce-webcomponents.enabled
  - name: ce-fake-everesst
    version: 0.50.0
    repository: oci://harbor.tools.acerta.io/acerta-releases
    condition: ce-fake-everesst.enabled
  - name: ce-fake-chro
    version: 0.8.1
    repository: oci://harbor.tools.acerta.io/acerta-releases
    condition: ce-fake-chro.enabled
  - name: ce-authorization-service
    version: 0.51.0
    repository: oci://harbor.tools.acerta.io/acerta-releases
    condition: ce-authorization-service.enabled
  - name: spring-cloud-dataflow
    version: 31.0.1
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: spring-cloud-dataflow.enabled
  - name: ce-wiremock
    version: 0.1.7
    repository: oci://harbor.tools.acerta.io/acerta-releases
    condition: ce-wiremock.enabled
  - name: ce-scdf-client
    version: 0.59.0
    repository: oci://harbor.tools.acerta.io/acerta-releases
    condition: ce-scdf-client.enabled
